/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}


.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Centre verticalement dans la page */
  padding: 20px;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 12px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.auth-form mat-form-field {
  width: 100%;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

mat-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

mat-card-footer {
  text-align: center;
  padding-bottom: 10px;
}
